/*General*/
html,
body {
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr 1fr;
}

/*Para ver los bordes de los divs*/
div {
    border: 1px solid black;
}

/*First row*/
.app-icon,
.project-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Second row*/
.side-panel > div > p {
    text-align: center;
}

.project {
    display: flex;
    justify-content: space-between;
    height: 5vh;
}

.proj-name {
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.del-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proj-name {
    width: 70%;
}

.del-button {
    width: 30%;
}

#deleteProject {
    width: 90%;
    height: 80%;
}

/*Third row*/
.add-project-todo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add-project-todo > button {
    height: 5vh;
    width: 45%;
}

.credit {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Modals*/
.project-title {
    margin-bottom: 16px;
}

.modal-footer {
    display: flex;
    justify-content: end;
    gap: 5%;
}