html,
body {
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr 1fr;
}

/*Para ver los bordes de los divs*/
div {
    border: 1px solid black;
}

.app-icon,
.project-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-panel > div > p {
    text-align: center;
}

.project {
    display: flex;
    justify-content: space-between;
    height: 5vh;
}

.project > div {
    width: 100%;
}

.proj-name,
.del-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title {
    margin: 0;
}

.add-project-todo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add-project-todo > button {
    height: 5vh;
}